<ion-header>
  <ion-navbar>
    <ion-title>
      TP 1 MMDO
    </ion-title>

    <ion-toolbar no-border-top>
      <ion-searchbar [(ngModel)] = "query" (ionInput)="onInput($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item (click)="push(item)"
     *ngFor="let item of searchres | async">
      {{ item.title }}
    </button>
    <ion-item>
      <div *ngIf="show_no_result">Aucun resultat</div>
    </ion-item>
  </ion-list>
</ion-content>
